* {
 
  margin: 0;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/static/Inter-Regular.ttf");
}

html,
body {
   font-family: Inter;
  width: 100vw;
  height: 100vh;
  background-color: #141414;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  background-color: #1f1f1f;
  width: 400px;
  border-radius: 10px;
  padding-block-end: 35px;
}

.header {
  display: flex;
  margin-top: 30px;
  margin-inline: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header img {
  margin-top: 30px;
  width: 100px;
  border-radius: 100px;
}

.header h2 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.header h4 {
  margin-top: 20px;
  font-size: 15px;
  color: #a0cc0f;
}

.header p {
  margin-block: 30px;
  color: white;
}

.btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  background-color: #383737;
  margin-block: 7px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #a0cc0f;
}

.btn-txt {
  border: none;
  text-decoration: none;
  color: white;
}
